body
{
    margin:0;
    background:#272727;
}

.section{
    font-size: 3.5em;
    font-family: arial;
    color: #fff;
    text-align: center;
}

.home
{

}

.home .presentation
{
    color:white;
    margin-top: 30vh;
    position: absolute;
    left:30vw;
    width: 40vw;
    text-align: start;
    font-size:2.5rem;
    z-index: 3;
    line-height: 1.3;
}

#opacity
{
    position: absolute;
    width: 40vw;
    opacity: 0.5;
    margin-top:34vh;
    font-size:2.5rem;
    left:28vw;
    z-index:1;
    line-height: 1.3;

}

.home h1 span
{
    color:#F39523;
}

.logo
{
    width:3vw;
    left:2vw;
    padding-top:2vw;
    position:absolute;
}

.logo2
{
    width:3vw;
    left:2vw;
    padding-top:2vw;
    position:absolute;
}

.logo3
{
    width:3vw;
    left:2vw;
    padding-top:2vw;
    position:absolute;
}

.about
{
    color:white;
    font-size: 2.5rem;
    display: flex;
    height: 90vh;
    padding-left: 90vw;
    align-items: flex-end;
}

.band
{
    width: 35vw;
    height:100vh;
    margin-left:65vw;
    background:#9DC9C8;
    position:absolute;
    margin-top:-3vh;
}

.band2
{
    width: 35vw;
    height:100vh;
    margin-left:65vw;
    background:#D5BF00;
    position:absolute;
    margin-top:-3vh;
}

.discoverIllustration
{
    color:white;
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top:40vh;
    padding-left:20vw;

}

h1 span
{
    color:#F39523;

}

